$alata: 'Alata', sans-serif;
$rubik: 'Rubik', sans-serif;

// font-family: 'Alata', sans-serif;
// font-family: 'Rubik', sans-serif;

$very-light-grey: hsl(0, 0%, 98%);
$grayish-blue: hsl(229, 6%, 66%);
$very-dark-blue: hsl(234, 12%, 34%);
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$desktop: 501px;
$shadow: rgba(0, 0, 0, 0.418) 0px 5px 15px;
   
@function make-new-bg($color) {
    @if(lightness($color) > 70) {
        @return #333;
    } @else {
        @return hsl(0, 100%, 100%);
    }
}